<header>
		<div class = logo>
            <img src="../img/btr.jpg" width="250px">
            <h1 class="subtitulos"> &nbsp; Sistema de pr&eacute;stamo de material para alumnos</h1>
            <p class="subtitulos">Welcome <%= name %></p>
		</div>
	</header>   
	<nav>
    <ul class="barranav">

        <li  class="hamburger" id="burger">
            <a href="#"> <i class="fa fa-bars" aria-hidden="true"></i></a>                
        </li>

        <li class = "barra" id="peligro">
            <a href="/users/logout" > <i class="fas fa-door-open"></i> Logout </a>

        </li>
        <li class="barra">
            <a href="/dashboard">
                <i class="fa fa-home" aria-hidden="true"></i> Home </a>               
            </li>
            <li class="barra">
                <a href="/account"> <i class="fa fa-user" aria-hidden="true"></i> Mi cuenta</a>
            </li>
            <li class="barra">
                <a href="/lockers"> <i class="fa fa-table" aria-hidden="true"></i> Lockers</a>
            </li>
            <li class="barra">
                <a href="/reservations"> <i class="fa fa-calendar" aria-hidden="true"></i> Tutoriales </a>
            </li>
            <li class="barra">
                <a href="/donations"> <i class="fa fa-gift" aria-hidden="true"></i> Donaciones</a>
            </li>
            <% if(isAdmin===true){ %>
            <li class="barra">
                <a href="/admin"> <i class="fas fa-users-cog" aria-hidden="true"></i> Administrar</a>
            </li>
            <% } %>
        </ul>
    </nav>
    <% if(locker===0){ %>
	<div class="classic">
        <br>
		<p>Los lockers podran ser asignados despu&eacute;s de la primera semana de clases</p>
		<p > Favor de leer el <a href="files/reglamento_Lockers.pdf" class="RulesLockers" target="_blank">Reglamento de lockers</a></p>
		<form action="/lockers" method="POST">
			<button class="form-botons" formaction="">Recibir locker</button>
		</form>
        <% } else { %>
        <div class="classic">
		<p class="subtitulos">Tienes asignado el locker #<%= locker %></p>
        <img src="../img/locker.jpg" width="400">
        <br>
        <br>
    </div>
        <% } %>
	</div>
	<br>
	<br>
	<footer>
		<p> Creado por BTR &copy;</p>
	</footer>