<header>
        <div class = logo>
        	<img src="../img/btr.jpg" width="250px">
            <h1 class="subtitulos"> &nbsp; Sistema de pr&eacute;stamo de material para alumnos</h1>
        </div>        
        <form>
        <div class = login>
                <button formaction="/users/login" class=loginbut id="entrar">Entrar</button>
                <button formaction="/users/register" class="loginbut" id="registarse">Registrarse</button>
            </div>        
        </form>            
    </header>
    <footer class="footera">
        <p> Creado por BTR &copy;</p>
    </footer>