.slider {
	width: 45%;
	margin: auto;
	overflow: hidden;
}

.sli {
	display: flex;
	
	width: 400%;
	background-color: rgba(0, 0, 0, 0.459);
    animation: cambio 20s infinite alternate linear;
    color: white;
    border: white 3px solid;
    font-size: 30px;
	text-align: center;
	font-family: arial;
}
.lisli{
    width: 40%;
	list-style: none;
	margin-right: 100px;
}


.slider img {
    width: 100%;
    margin: auto;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
